In [1]:
import pandas as pd  #Pandas.
import numpy as np  #Numpy
pd.set_option('display.max_columns', None) #que se vean todas las columnas una vez importado el documento.

import warnings  #que no salgan los warnings.
warnings.filterwarnings('ignore')

In [2]:
#mi ruta '/Users/edgarahmed/Desktop/ironhack/semana_3/dia_5/proyecto_pelis/src/w3-project_SQL/data/language.csv')


df_ori= pd.read_csv ('/Users/edgarahmed/Desktop/ironhack/semana_3/dia_5/proyecto_pelis/src/w3-project_SQL/data/language.csv')

df_ori

   language_id      name          last_update
0            1   English  2006-02-15 05:02:19
1            2   Italian  2006-02-15 05:02:19
2            3  Japanese  2006-02-15 05:02:19
3            4  Mandarin  2006-02-15 05:02:19
4            5    French  2006-02-15 05:02:19
5            6    German  2006-02-15 05:02:19

In [3]:
df = df_ori.copy()

df

   language_id      name          last_update
0            1   English  2006-02-15 05:02:19
1            2   Italian  2006-02-15 05:02:19
2            3  Japanese  2006-02-15 05:02:19
3            4  Mandarin  2006-02-15 05:02:19
4            5    French  2006-02-15 05:02:19
5            6    German  2006-02-15 05:02:19

In [4]:
df.isna().all(axis=1).all()

False

In [5]:
df.isna().all(axis=0).all()

False

In [6]:
df['language_id'].unique()

array([1, 2, 3, 4, 5, 6])

In [7]:
df['last_update'].unique()  #Parece que toda las fechas de actualizaciÃ³n son iguales. cargarme columna.

array(['2006-02-15 05:02:19'], dtype=object)

In [10]:
unique_values_count= df['last_update'].nunique()

if unique_values_count > 1:
    print("There are different values in the 'first_name' column.")
else:
    print("All values in the 'first_name' column are the same.")

All values in the 'first_name' column are the same.

In [11]:
df.drop(columns=['last_update'], inplace=True)


df

   language_id      name
0            1   English
1            2   Italian
2            3  Japanese
3            4  Mandarin
4            5    French
5            6    German

In [12]:
from sqlalchemy import create_engine

In [13]:
str_conn = f'mysql+pymysql://root:666666@localhost:3306/proyecto_pelis'

cursor = create_engine(str_conn)
print(cursor)

Engine(mysql+pymysql://root:***@localhost:3306/proyecto_pelis)

In [14]:
df.to_sql(name='language_',       # nombre de la tabla
            con=cursor,           # conexion al servidor
            if_exists='replace',  # replace sobreescribe la tabla
            index=True
           )

6

In [ ]:
#esta tabla a la mierda